 <h1>Buy International Calls</h1>

<form action="/pinless/process" class="frtopup" method="POST" onsubmit="return validate_pinless_form();" accept-charset="utf-8">
<input type="hidden" name="prcsrf_token5598" value="1c8d0f398ebef89f9130164378b59844" style="display:none;" />
<input type="hidden" value="" id="amount" name="amount">
<article class="wrapfrtopup wrap_rates">

<label for="whoto">Where will you be calling from?</label>
{{#countries-list countries=model.countries}}{{/countries-list}}

<!--
<label for="phone-number">Where will you call most?</label><br/>
<input type="tel" name="phone-number" id="phone-number" class="phone form-control" placeholder="Enter phone number" value=""/>
!-->

<div id="wrap_credit">

    <article class="howmuch" style="padding-top: 1px !important;">
        <h3>How much?</h3>
        {{#rates-amount amounts=model.amounts}}{{/rates-amount}}
    </article><!-- /wrapfrtopup-->

</div>


</article><!-- /wrapfrtopup-->
    <div class="wraptarifa_int">
        <div class="inner">
            <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                <h3>100 mins for USD $ 20</h3>
                <p>Fixed line calls</p>
            </div>
                <div class="col-md-6 col-sm-6 col-xs-12 text-center">
                    <h3>100 mins for USD $ 20</h3>
                    <p>Mobile calls</p>
                </div>
            </div>
        </div>
    </div><!--/tarifa -->

    <div class="clearfix"></div>

    <div class="wrap_btn_buy">
        <button class="btn_buy_minutes">Proceed to payment</button>
    </div>
</form><!--/endform -->