    <!-- Flexslider full width slider -->
        <!--Slider BX -->
        {{#image-show images=model.pictures class="box"}}{{/image-show}}
        <!-- Slider BX -->
        <!-- end flexslider -->
    <div class="band_blue">
        <div class="container">
            <div class="content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            </div>
        </div>
    </div>
    <div class="offers banners">
        {{#banner-show images=model.banners class="banner offer-item" link="promotions" iclass="img-responsive"}}{{/banner-show}}
    </div>
    <div class="welcome">
        <div class="container">
            <h1>Welcome Prepy.Me</h1>
            {{#display-page-content pages=model.welcome class="row"}}{{/display-page-content}}
        </div>
    </div>
    <div class="clearfix"></div>

