<div class="access-content">
     <h1>Access numbers</h1>
    <article class="wrap_access_number">
        <div class="header_list">
            <p class="text-left pull-left">Región</p>
            <p class="text-right pull-right">Access number</p>
        </div>
        <div class="content">
            <ul class="tels_usa">
                <li class="headtels"><div class="flag flag_us"></div> USA</li>
                <li>
                    <div class="flag flag_us"></div>
                    <p class="text-left pull-left">Arizona</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_us"></div>
                    <p class="text-left pull-left">California</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_us"></div>
                    <p class="text-left pull-left">Connecticut</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_us"></div>
                    <p class="text-left pull-left">Florida</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_us"></div>
                    <p class="text-left pull-left">Georgia</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_us"></div>
                    <p class="text-left pull-left">Illinois</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_us"></div>
                    <p class="text-left pull-left">Massachusetts</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_us"></div>
                    <p class="text-left pull-left">Michigan</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
            </ul>
            <ul class="tels_canada">
                <li class="headtels"><div class="flag flag_canada"></div> CANADA</li>
                <li>
                    <div class="flag flag_canada"></div>
                    <p class="text-left pull-left">Arizona</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_canada"></div>
                    <p class="text-left pull-left">California</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_canada"></div>
                    <p class="text-left pull-left">Connecticut</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_canada"></div>
                    <p class="text-left pull-left">Florida</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_canada"></div>
                    <p class="text-left pull-left">Georgia</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_canada"></div>
                    <p class="text-left pull-left">Illinois</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_canada"></div>
                    <p class="text-left pull-left">Massachusetts</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
                <li>
                    <div class="flag flag_canada"></div>
                    <p class="text-left pull-left">Michigan</p>
                    <p class="text-right pull-right">+1 520 829 5605</p>
                </li>
            </ul>
        </div>
    </article>
</div>