<div class="user-login">
      <!-- Login Content -->
      <section class="login_content" style="display:block;">
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <img src="assets/images/mini_logo.jpg" alt="" class="center-block logomini">

                  <form action="">
                      <div class="form-group">
                          <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
                          <span class="glyphicon glyphicon-user"></span>
                      </div>
                      <div class="form-group">
                          <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                          <span class="glyphicon glyphicon-lock"></span>
                      </div>
                      <div class="form-group">
                          <input type="submit" value="Sign In" class="btn btn_login" />
                      </div>
                  </form>
              </div>
              <div class="col-md-6 col-sm-6 with_networks">
                  <a href="#"><img src="assets/images/fb_login.jpg" alt="" class="center-block img-responsive"></a>
                  <a href="#"><img src="assets/images/tw_login.jpg" alt="" class="center-block img-responsive"></a>
                  <a href="#"><img src="assets/images/gp_login.jpg" alt="" class="center-block img-responsive"></a>
              </div>
          </div>
      </section>
</div><!--/container -->


