<div class="promotions-content wrapper">

    <h1>Promotions</h1>
    <article class="wrap_promotions">
      {{#display-promotion pages=model.regions prop=1 class="nav" }}{{/display-promotion}}
    </article>
</div>