<div class="profile-content">
      <section class="actions">
          <div id="login" class="login" data-content="login">
              <div class="content">
                  <strong class="pull-left hidden-xs">1</strong>
                  <small>Have an account?</small><br/>
                  <h2>Login to pay</h2>
              </div>
          </div>
          <div id="register" class="register actived" data-content="register">
              <div class="content">
                  <strong class="pull-left hidden-xs">2</strong>
                  <small>New customer?</small><br/>
                  <h2>Register</h2>
              </div>
          </div>
      </section>


      <!-- Login Content -->
      <section class="login_content">
          <div class="row">
              <div class="col-md-6 col-sm-6">
                  <img src="assets/images/mini_logo.jpg" alt="" class="center-block logomini">

                  <form action="">
                      <div class="form-group">
                          <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
                          <span class="glyphicon glyphicon-user"></span>
                      </div>
                      <div class="form-group">
                          <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                          <span class="glyphicon glyphicon-lock"></span>
                      </div>
                      <div class="form-group">
                          <input type="submit" value="Sign In" class="btn btn_login" />
                      </div>
                  </form>
              </div>
              <div class="col-md-6 col-sm-6 with_networks">
                  <a href="#"><img src="assets/images/fb_login.jpg" alt="" class="center-block img-responsive"></a>
                  <a href="#"><img src="assets/images/tw_login.jpg" alt="" class="center-block img-responsive"></a>
                  <a href="#"><img src="assets/images/gp_login.jpg" alt="" class="center-block img-responsive"></a>
              </div>
          </div>
      </section>


      <!-- Register Content -->
      <section class="register_content" style="display:block;">

          <div class="row">
              <div class="col-md-6 col-sm-6 with_networks">
                  <h3>Register with your <br/> social profile</h3>

                  <a href="#"><img src="assets/images/fb_login.jpg" alt="" class="img-responsive"></a>
                  <a href="#"><img src="assets/images/tw_login.jpg" alt="" class="img-responsive"></a>
                  <a href="#"><img src="assets/images/gp_login.jpg" alt="" class="img-responsive"></a>
              </div>
              <div class="col-md-6 col-sm-6">
                  <h3>Register with your <br/> email address</h3>

                  <form action="">
                      <div class="form-group">
                          <input type="email" name="email" id="email" class="form-control" placeholder="Email" />
                          <span class="glyphicon glyphicon-user"></span>
                      </div>
                      <div class="form-group">
                          <input type="password" name="password" id="password" class="form-control" placeholder="Password" />
                          <span class="glyphicon glyphicon-lock"></span>
                      </div>
                      <div class="form-group">
                          <input type="submit" value="Sign Up" class="btn btn_login" />
                      </div>
                  </form>
              </div>
          </div>
      </section>
</div><!--/container -->


